@media (min-width:750px){
  .AddressDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    /* margin-top: 2px; */
    position: relative;
    top: 3px;
  }
  .numberContainer {
    display: flex;
    flex-direction: column;
     
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
  } 

  .CopyIcon {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  .CopyIcon2 {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  .CopyBox {
    display: block;
  
    position: absolute;
    right: -34.5px;
    top: -17px;
    /* margin-top: 23px;  */
    margin-left: 3%;
    font-size: 10px;
    width: 70px;
    height: auto;
    padding: 5px 10px;
    border-radius: 6px;
    color: #fff;
    background-color: #01013bcb;
    text-align: center;
    transition: 0.3s;
    z-index: 5;
   
  }
  .FullNumber {
    display: block;
  
   margin-left: -20px;
    position: absolute;
    left: 0px;
     top: -41px;
    width: 190px;
    height: auto;
    padding: 5px 10px;
    border-radius: 6px;
    color: #fff;
    background-color: #01013bcb;
    transition: 0.3s;
    z-index: 5;

  }
  .FullNumber:after,
.FullNumber:before {
  bottom: -20%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  rotate: 180deg;
  position: absolute;
  border-color: rgba(161, 103, 45, 0);
  border-bottom-color: #01013b88;
  border-width: 6px;
  left: 90%;
}
.FullNumberP {
  font-size: 11px;
  text-overflow: hidden;
  margin: 0;
  word-break: break-all;
}
  .partialNumber {
    margin-top: -39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow-x: hidden;
    position: relative;
    top: 15px;
    
  }
  .HoverDiv{
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-left: -123px;
    position: relative;
   top: -25px;
  }
}
@media (max-width:750px){
  .AddressDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-top: 22px;
    position: relative;
  }
  .numberContainer {
    display: inline-block;
    cursor: pointer;
    font-size: 10px;
    transition: 0.2s;
  } 

  .CopyIcon {
    display: block;
    width: 12px;
    height: 12px;
    cursor: pointer;
    transition: 0.3s;
  }
  .CopyIcon2 {
    display: block;
    width: 12px;
    height: 12px;
    cursor: pointer;
    transition: 0.3s;
  }
  .CopyBox {
    display: block;
 
    position: absolute;
    top:-10px;
    right: -35px;
    font-size: 8px;
    width: 55px;
    height: auto;
    padding: 5px 10px;
    border-radius: 6px;
    color: #fff;
    background-color: #01013bcb;
    text-align: center;
    transition: 0.3s;
    z-index: 5;
  }
  .FullNumber {
    display: block;
    position: absolute;
   top: -36px;
   left: -10px;
    width: 140px;
    height: auto;
    padding: 5px 10px;
    border-radius: 6px;
    color: #fff;
    background-color: #01013bcb;
    transition: 0.3s;
    font-size: 8px;
    z-index: 5;
  }
  .FullNumber:after,
.FullNumber:before {
  bottom: -17%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  rotate: 180deg;
  position: absolute;
  border-color: rgba(161, 103, 45, 0);
  border-bottom-color: #01013b88;
  border-width: 4px;
  left: 90%;
  
}
.FullNumberP {
  font-size: 10px;
  text-overflow: hidden;
  margin: 0;
  word-break: break-all;
}
  .partialNumber {
    margin-top: -36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    overflow-x: hidden;
    position: relative;
    top: 8px;
  }
  .HoverDiv{
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-left: -100px;
    position: relative;
   top: -34px;
   /* max-height: 30px; */
  }
}
.numberContainer:hover {
  color: #011f53;
}

.AddressDivLi{
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* .FullNumber {
  display: block;
  opacity: 0;
  position: relative;
 top: -12px;
  width: 190px;
  height: auto;
  padding: 5px 10px;
  border-radius: 6px;
  color: #fff;
  background-color: #01013bcb;
  transition: 0.3s;
} */
/* .FullNumberP {
  font-size: 12px;
  text-overflow: hidden;
  margin: 0;
  word-break: break-all;
} */
/* .FullNumber:after,
.FullNumber:before {
  bottom: -45%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  rotate: 180deg;
  position: absolute;
  border-color: rgba(161, 103, 45, 0);
  border-bottom-color: #01013b88;
  border-width: 6px;
  left: 80%;
} */
/* .partialNumber {
  margin-top: -16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
} */
/* .CopyIcon {
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition: 0.3s;
}
.CopyIcon2 {
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition: 0.3s;
} */
.CopyIcon:hover {
  opacity: 0.6;
}
.CopyDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;

}

.CopyBox:after,
.CopyBox:before {
  bottom: -50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  rotate: 180deg;
  position: absolute;
  border-color: rgba(161, 103, 45, 0);
  border-bottom-color: #01013b88;
  border-width: 6px;
  left: 57%;
  margin-left: -13px;
}


/* .HoverDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -170px;
  position: relative;
 top: -15px;
} */